@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~bootstrap-icons/font/bootstrap-icons.css';.dialog-field {
  display: flex; /* Use Flexbox */
}

.form-tab {
  flex: 1; /* Take up remaining space */
}

.preview-tab {
  margin-left: 20px; /* Adjust margin as needed */
}
.formly-form-container{
  margin-top: 4rem;
}
.preview-tab h4{
  margin-top: 0.5rem;
}
.mat-tab-label {
  background-color: transparent; /* Set default background color */
}

.active-tab .mat-tab-label {
  color: white;
  background-color: #309ec2; /* Set background color for active tab */
  font-weight: bold;
}
