<div class="dialog-field">
<div class="form-tab">
  <h3 mat-dialog-title>Customize Input</h3>
  <hr>
<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Display" [ngClass]="{ 'active-tab': selectedTabIndex === 0 }">
    <!-- customize-dialog.component.html -->
    <form [formGroup]="form" >
      <div mat-dialog-content>
        <div class="form-group">
          <label for="label" >Label</label>
          <input id="label" type="text" formControlName="label" class="form-control" />
        </div>
        <div class="form-group">
          <label for="position">Label position</label>
          <select name="position" id="position"  class="form-control">
            <option value="right">Right</option>
            <option value="left">Left</option>
            <option value="top">Top</option>
            <option value="bottom">Bottom</option>
          </select>
        </div>
        <div class="form-group">
          <label for="custom_css" >Custom CSS</label>
          <input id="custom_css" formControlName="custom_css" type="text"  class="form-control" />
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="hidden" formControlName="hidden">
          <label class="form-check-label" for="hidden">
            Hidden
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="hide_label" formControlName="hide_label">
          <label class="form-check-label" for="hide_label">
            Hide label
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="disabled" formControlName="disabled">
          <label class="form-check-label" for="disabled">
            Disabled
          </label>
        </div>
      </div>
      <div mat-dialog-actions>
        <button mat-button class="btn btn-outline-dark" (click)="onNoClick()">Cancel</button>
        <button mat-button class="btn btn-info" [mat-dialog-close]="form.value" cdkFocusInitial >Save</button>
      </div>
    </form>


  </mat-tab>
  <mat-tab label="Data" [ngClass]="{ 'active-tab': selectedTabIndex === 1 }">
    <form [formGroup]="form">
      <div class="form-group" formArrayName="tableRows">
        <table>
          <thead>
          <tr>
            <th>Label</th>
            <th>Value</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of tableRows.controls; let i = index" [formGroupName]="i">
            <td><input type="text" class="form-control" formControlName="label"></td>
            <td><input type="text" class="form-control" formControlName="value" ></td>
            <td><button type="button" class="btn btn-light" (click)="removeRow(i)"><i class="bi bi-trash3" style="color: red;"></i></button></td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-light" (click)="addRow()"><i class="bi bi-file-plus-fill"  style="color: lightseagreen;"></i></button>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Validation" [ngClass]="{ 'active-tab': selectedTabIndex === 3 }">
    <form [formGroup]="form">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        required
      </label>
    </div>
    <div class="form-group">
      <label for="customError">Custom Error message</label>
      <input type="text" name="shouldDisplay" id="customError"  class="form-control">
    </div>
    </form>
  </mat-tab>

  <mat-tab label="API" [ngClass]="{ 'active-tab': selectedTabIndex === 4 }">
    <form [formGroup]="form">
    <div class="form-group">
      <label for="propertyName">Property Name</label>
      <input type="text" id="propertyName" placeholder="Property Name" class="form-control">
    </div>
    </form>
  </mat-tab>
  <mat-tab label="Conditional" [ngClass]="{ 'active-tab': selectedTabIndex === 5 }">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="shouldDisplay">This component should Display</label>
        <select name="shouldDisplay" id="shouldDisplay" formControlName="disabled" class="form-control">
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>
      <div class="form-group">
        <label for="condition">when the form component</label>
        <select id="condition"  class="form-control">
          <option value="Submit">Submit</option>
          <option value="Radio">Radio button</option>
          <option value="checkbox">checkbox</option>
        </select>
      </div>
      <div class="form-group">
        <label for="valueCondition">Has the value</label>
        <input type="text" id="valueCondition" class="form-control">
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Layout" [ngClass]="{ 'active-tab': selectedTabIndex === 6 }"> Layout </mat-tab>
</mat-tab-group>
</div>
<div class="preview-tab">
  <h4>Preview Select</h4>
  <hr>
  <div class="formly-form-container">
    <formly-form [model]="model" [fields]="[newField]" [form]="previewForm" [options]="options" [ngStyle]="getLabelStyles()"></formly-form>
  </div>
</div>
</div>
