<div class="background">
  <section class="py-1 py-md-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-4 col-xl-4">
          <div class="d-flex justify-content-center text-bg">
            <div class="col-8 col-xl-9">
              <img loading="lazy" src="./assets/img/login.png" width="450" alt="BootstrapBrain Logo">
              <hr class="border-primary-subtle">
              <div class="text-endx">
                <h3 class="h3 mb-8">We make dynamic forms.</h3>
                <p class="lead mb-6">We interact with you.</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                  class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                  <path
                    d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                  </path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="form formCard col-12 col-md-6 col-xl-5">
          <div class="card border-0 rounded-4">
            <div class="card-body p-xl-5 ">
              <div class="text-center text-muted mb-4">
                <p> write your email :</p>
              </div>
              <form [formGroup]="form" (ngSubmit)="forgetPassword()">
                <div class="boxForm row gy-3 overflow-hidden">
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input formControlName="email" class="form-control" id="email" aria-describedby="email" placeholder="email">
                  </div>
                  <div *ngIf="form.get('email').errors && form.get('email').touched" class="text-danger">
                    <small *ngIf="form.get('email').errors.required">Email is required</small>
                    <small *ngIf="form.get('email').errors.email">Please enter a valid email address</small>
                  </div>
                </div>

                <div class="col-12">
                  <div class="text-center">
                    <button class="btn btn-lg" type="submit">submit</button>
                  </div>
                </div>
              </div>
              <a routerLink="/login">Back</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
