button{
  background-color: #00B8FF ;
}
button:hover{
  background-color: #01326b;
  color: white;
}
section{
  border-radius:3%;
  background:linear-gradient(-89deg, #00B8FF 0%, #00719D 100%) !important;
  margin-top: 30vh;
  height: 70vh;
 /* background-color: white;
*/
}

a{
  color:#00719D ;
}
.background{

  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-left: 9rem;
  padding-right: 9rem;

}
.formCard{
  margin-left: 11rem;
}
.card-body{
 /* background-color: #00B8FF;*/
}
img{
  margin-top: 12rem;
  margin-left: 2rem;
}
