<div class="dialog-field">
  <div class="form-tab">
    <h3 mat-dialog-title>Adress component</h3>
    <hr>
<mat-tab-group (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Display"  [ngClass]="{ 'active-tab': selectedTabIndex === 0 }">
    <form [formGroup]="form" >
      <div mat-dialog-content>
        <div class="form-group">
          <label for="label" >Label</label>
          <input id="label" type="text" formControlName="label" class="form-control" />
        </div>
        <div class="form-group">
          <label for="position">Label position</label>
          <select name="position" id="position"  class="form-control">
            <option value="right">Right</option>
            <option value="left">Left</option>
            <option value="top">Top</option>
            <option value="bottom">Bottom</option>
          </select>
        </div>
        <div class="form-group">
          <label for="classCss" >Custom CSS class</label>
          <input id="classCss" type="text"  class="form-control" />
        </div>
      </div>
      <div mat-dialog-actions>
        <button mat-button class="btn btn-outline-dark" (click)="onNoClick()">Cancel</button>
        <button mat-button class="btn btn-info" [mat-dialog-close]="form.value" cdkFocusInitial >Save</button>
      </div>
    </form>


  </mat-tab>
  <mat-tab label="Data"  [ngClass]="{ 'active-tab': selectedTabIndex === 1 }">
    <form [formGroup]="form">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="checbox" [(ngModel)]="showTable" (change)="toggleTableVisibility()">
      <label class="form-check-label" for="flexCheckDefault">
        multiple values
      </label>
    </div>
      <div class="form-group" formArrayName="tableRows" *ngIf="!showTable">
        <table>
          <thead>
          <tr>
            <th>Label</th>
            <th>placeholder</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of tableRows.controls; let i = index" [formGroupName]="i">
            <td><input type="text" class="form-control" formControlName="label"></td>
            <td><input type="text" class="form-control" formControlName="placeholder" ></td>
            <td><button type="button" class="btn btn-light" (click)="removeRow(i)"><i class="bi bi-trash3" style="color: red;"></i></button></td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-light" (click)="addRow()"><i class="bi bi-file-plus-fill"  style="color: lightseagreen;"></i></button>
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Validation"  [ngClass]="{ 'active-tab': selectedTabIndex === 2 }">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        required
      </label>
    </div>
    <div class="form-group">
      <label for="customError">Custom Error message</label>
      <input type="text" name="shouldDisplay" id="customError"  class="form-control">
    </div>
  </mat-tab>

  <mat-tab label="API"  [ngClass]="{ 'active-tab': selectedTabIndex === 3 }">
    <div class="form-group">
      <label for="propertyName">Property Name</label>
      <input type="text" id="propertyName" placeholder="Property Name" class="form-control">
    </div>
  </mat-tab>
  <mat-tab label="Conditional"  [ngClass]="{ 'active-tab': selectedTabIndex === 4 }">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="shouldDisplay">This component should Display</label>
        <select name="shouldDisplay" id="shouldDisplay" formControlName="disabled" class="form-control">
          <option value="True">True</option>
          <option value="False">False</option>
        </select>
      </div>
      <div class="form-group">
        <label for="condition">when the form component</label>
        <select id="condition"  class="form-control">
          <option value="Submit">Submit</option>
          <option value="Radio">Radio button</option>
          <option value="checkbox">checkbox</option>
        </select>
      </div>
      <div class="form-group">
        <label for="valueCondition">Has the value</label>
        <input type="text" id="valueCondition" class="form-control">
      </div>
    </form>
  </mat-tab>
  <mat-tab label="Layout"  [ngClass]="{ 'active-tab': selectedTabIndex === 5 }"> Layout </mat-tab>
</mat-tab-group>
  </div>
    <div class="preview-tab">
      <h4>Preview Address</h4>
      <hr>
      <div class="formly-form-container" *ngFor="let field of fields ">
        <formly-form [model]="model" [fields]="[field]" [form]="previewForm" [options]="options"></formly-form>
      </div>
    </div>
  </div>
