<div>
  <h2>Gestion des rôles</h2>
  <div>
    <h3>Roles:</h3>
    <ul>
      <li *ngFor="let role of roles" (click)="onSelectRole(role)">
        {{ role.roleType }}
      </li>
    </ul>
  </div>
  <div *ngIf="selectedRole">
    <h3>{{ selectedRole.roleType }}</h3>
    <h4>Permissions:</h4>
    <div *ngFor="let permission of permissions">
      <label>
        <input type="checkbox" [checked]="isSelectedPermission(permission)" (change)="togglePermission(permission)">
        {{ permission.permissionName }}
      </label>
    </div>
    <button (click)="savePermissions()">Save Permissions</button>
  </div>
</div>
