<div class="container">
  <h3>Liste des formulaires soumis</h3>
  <hr>
  <br>
  <mat-table [dataSource]="allFormTemplateList">
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
      <mat-cell *matCellDef="let form">{{ form.title }}</mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let form">{{ form.description }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="userId">
      <mat-header-cell *matHeaderCellDef>UserId</mat-header-cell>
      <mat-cell *matCellDef="let form">{{ form.userId }}</mat-cell>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let form">
        <button mat-icon-button (click)="viewContent(form.answerId, form.formTemplateId)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteForm(form)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
