<!-- customize-dialog.component.html -->
<div class="dialog-field">
<div class="form-tab">
  <h3 mat-dialog-title>Customize Input</h3>
  <hr>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Display"  [ngClass]="{ 'active-tab': selectedTabIndex === 0 }">
      <form [formGroup]="form">

        <div mat-dialog-content>
          <div class="form-group">
            <label for="label">Label</label>
            <input id="label" formControlName="label" class="form-control" />
          </div>
          <div class="form-group">
            <label for="placeholder">Placeholder</label>
            <input id="placeholder" formControlName="placeholder" class="form-control" />
          </div>
        </div>
        <div mat-dialog-actions>
          <button mat-button (click)="onNoClick()" class="btn btn-sm btn-outline-danger">Cancel</button>
          <button mat-button [mat-dialog-close]="form.value" class="btn btn-sm btn-outline-success" cdkFocusInitial>Save</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Validation"  [ngClass]="{ 'active-tab': selectedTabIndex === 1 }">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="minLength">Min Length</label>
          <input id="minLength" formControlName="minLength" type="number" class="form-control" />
        </div>
        <div class="form-group">
          <label for="maxLength">Max Length</label>
          <input id="maxLength" formControlName="maxLength" type="number" class="form-control" />
        </div>
      </form>
    </mat-tab>
    <mat-tab label="API"  [ngClass]="{ 'active-tab': selectedTabIndex === 2 }"> API </mat-tab>
    <mat-tab label="Layout"  [ngClass]="{ 'active-tab': selectedTabIndex === 3 }"> Layout </mat-tab>
  </mat-tab-group>
</div>

<div class="preview-tab">
  <h4>Preview input</h4>
  <hr>
  <div class="formly-form-container">
  <formly-form [model]="model" [fields]="[newField]" [form]="previewForm" [options]="options"></formly-form>
  </div>
</div>
</div>
