<!-- customize-dialog.component.html -->
<div class="dialog-field">
<div class="form-tab">
  <h3 mat-dialog-title>Customize Input</h3>
  <hr>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Display"  [ngClass]="{ 'active-tab': selectedTabIndex === 0 }">
      <form [formGroup]="form">

        <div mat-dialog-content>
          <div class="row">
            <div class="col form-group" [hidden]="form.get('hide_label_fr').value">
              <label for="label_fr">{{ translations?.translations?.label_fr }}</label>
              <input id="label_fr" formControlName="label_fr" class="form-control" />
            </div>
            <div class="col form-group" [hidden]="form.get('hide_label_ar').value">
              <label for="label_ar">{{ translations?.translations?.label_ar }}</label>
              <input id="label_ar" formControlName="label_ar" class="form-control" />
            </div>
          </div>
          <div class="row">
            <div class="col form-group" [hidden]="form.get('hidden').value">
              <label for="placeholder_fr">{{ translations?.translations?.placeholder_fr }}</label>
              <input id="placeholder_fr" formControlName="placeholder_fr" class="form-control" />
            </div>
            <div class="col form-group" [hidden]="form.get('hidden').value">
              <label for="placeholder_ar">{{ translations?.translations?.placeholder_ar }}</label>
              <input id="placeholder_ar" formControlName="placeholder_ar" class="form-control" />
            </div>
          </div>
          <label for="label_position">{{ translations?.translations?.label_position }}</label>
          <select id="label_position" class="form-control" formControlName="label_position" aria-label="Default select position">
            <option value="right" for="position_right">{{ translations?.translations?.position_right }}</option>
            <option value="left" for="position_left">{{ translations?.translations?.position_left }}</option>
            <option value="top" for="position_top">{{ translations?.translations?.position_top }}</option>
            <option value="bottom" for="position_bottom">{{ translations?.translations?.position_bottom }}</option>
          </select>
          <div class="form-group">
            <label for="custom_css">{{ translations?.translations?.custom_css }}</label>
            <input id="custom_css" formControlName="custom_css" class="form-control" />
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="hidden" formControlName="hidden">
            <label class="form-check-label" for="hidden">
              {{ translations?.translations?.hidden }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="hide_label_fr" formControlName="hide_label_fr">
            <label class="form-check-label" for="hide_label_fr">
              {{ translations?.translations?.hide_label_fr }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="hide_label_ar" formControlName="hide_label_ar">
            <label class="form-check-label" for="hide_label_ar">
              {{ translations?.translations?.hide_label_ar }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="disabled" formControlName="disabled">
            <label class="form-check-label" for="disabled">
              {{ translations?.translations?.disabled }}
            </label>
          </div>
        </div>
        <div mat-dialog-actions>
          <button mat-button (click)="onNoClick()" class="btn btn-sm btn-outline-danger">{{ translations?.translations?.cancel }}</button>
          <button mat-button [mat-dialog-close]="form.value" class="btn btn-sm btn-outline-success" cdkFocusInitial>{{ translations?.translations?.save }}</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Validation"  [ngClass]="{ 'active-tab': selectedTabIndex === 1 }">
      <form [formGroup]="form">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="required" formControlName="required">
          <label class="form-check-label" for="required">
            {{ translations?.translations?.required }}
          </label>
        </div>
        <div class="form-group">
          <label for="minLength">{{ translations?.translations?.minLength }}</label>
          <input id="minLength" formControlName="minLength" type="number" class="form-control" />
        </div>
        <div class="form-group">
          <label for="maxLength">{{ translations?.translations?.maxLength }}</label>
          <input id="maxLength" formControlName="maxLength" type="number" class="form-control" />
        </div>
        <div class="form-group">
          <label for="error_label">{{ translations?.translations?.error_label }}</label>
          <input id="error_label" formControlName="error_label" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="custom_error_message">{{ translations?.translations?.custom_error_message }}</label>
          <input id="custom_error_message" formControlName="custom_error_message" type="text" class="form-control" />
        </div>
      </form>
    </mat-tab>
    <mat-tab label="API"  [ngClass]="{ 'active-tab': selectedTabIndex === 2 }">
      <form [formGroup]="form">
      <div class="form-group">
        <label for="property_name">{{ translations?.translations?.property_name }}</label>
        <input id="property_name" formControlName="property_name" type="text" class="form-control" />
      </div>
        <div class="form-group">
          <label for="field_tags">{{ translations?.translations?.field_tags }}</label>
          <input id="field_tags" formControlName="field_tags" type="text" class="form-control" (input)="updateTags($event.target.value)" />
          <small class="form-text text-muted">Separate tags with commas (e.g., tag1, tag2, tag3)</small>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Layout"  [ngClass]="{ 'active-tab': selectedTabIndex === 3 }"> Layout </mat-tab>
    <mat-tab label="Conditional"  [ngClass]="{ 'active-tab': selectedTabIndex === 4 }">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="shouldDisplay">{{ translations?.translations?.shouldDisplay }}</label>
          <select class="form-select"id="shouldDisplay" formControlName="condi_shouldDisplay" >
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>
        <div class="form-group">
          <label for="whenShouldDisplay">{{ translations?.translations?.whenShouldDisplay }}</label>
          <select class="form-select"id="whenShouldDisplay" formControlName="condi_whenShouldDisplay"  >
            <option *ngFor="let f of fieldsList" [value]="f">{{f}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="condi-value">{{ translations?.translations?.condi_value }}</label>
          <input id="condi-value" formControlName="condi_value" type="text" class="form-control" />
        </div>
        <div class="form-group" formArrayName="tableRows">
          <table>
            <thead>
            <tr>
              <th for="table_when_condi">{{ translations?.translations?.table_when_condi }}</th>
              <th for="table_has_value">{{ translations?.translations?.table_has_value }}</th>
              <th for="table_action">{{ translations?.translations?.table_action }}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of tableRows.controls; let i = index" [formGroupName]="i">
              <td><input type="text" class="form-control" formControlName="keyCondition"></td>
              <td><input type="text" class="form-control" formControlName="valueCondition" ></td>
              <td><button type="button" class="btn btn-light" (click)="removeRow(i)"><i class="bi bi-trash3" style="color: red;"></i></button></td>
            </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-light" (click)="addRow()"><i class="bi bi-file-plus-fill"  style="color: lightseagreen;"></i></button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="preview-tab">
  <h4>Preview input</h4>
  <hr>
  <div class="formly-form-container">
  <formly-form #formlyForm [model]="model" [fields]="[newField]" [form]="previewForm" [options]="options" [ngStyle]="getLabelStyles()" ></formly-form>
  </div>
</div>
</div>
