<div class="dialog-field">
  <div class="form-tab">
    <h3 mat-dialog-title>Checkbox Component</h3>
    <hr>
    <mat-tab-group>
      <mat-tab label="Display">
        <!-- customize-dialog.component.html -->
        <form [formGroup]="form">
          <h2 mat-dialog-title>Customize Input</h2>
          <div mat-dialog-content>
            <div class="form-group">
              <label for="label" >Label</label>
              <input id="label" formControlName="label" class="form-control" />
            </div>
            <div class="form-group">
              <label for="custom_css">Custom CSS</label>
              <input id="custom_css" formControlName="custom_css" class="form-control" />
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="hidden" formControlName="hidden">
              <label class="form-check-label" for="hidden">
                Hidden
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="disabled" formControlName="disabled">
              <label class="form-check-label" for="disabled">
                Disabled
              </label>
            </div>
          </div>
          <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()" class="btn btn-sm btn-outline-danger">Cancel</button>
            <button mat-button [mat-dialog-close]="form.value" class="btn btn-sm btn-outline-success" cdkFocusInitial>Save</button>
          </div>
        </form>


      </mat-tab>
      <mat-tab label="Validation">
        <form [formGroup]="form">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="required" formControlName="required">
          <label class="form-check-label" for="required">
            Required
          </label>
        </div>
        <div class="form-group">
          <label for="error_label">Error Label</label>
          <input id="error_label" formControlName="error_label" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="custom_error_message">Custom Error Message</label>
          <input id="custom_error_message" formControlName="custom_error_message" type="text" class="form-control" />
        </div>
        </form>
      </mat-tab>
      <mat-tab label="API">
        <form [formGroup]="form">
        <div class="form-group">
          <label for="property_name">Property Name</label>
          <input id="property_name" formControlName="property_name" type="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="field_tags">Field Tags</label>
          <input id="field_tags" formControlName="field_tags" type="text" class="form-control" />
        </div>
        </form>
      </mat-tab>
      <mat-tab label="Layout"> Layout </mat-tab>
    </mat-tab-group>
  </div>
  <div class="preview-tab">
    <h4>Preview Ckeckbox</h4>
    <hr>
    <div class="formly-form-container">
      <formly-form [model]="model" [fields]="[newField]" [form]="previewForm" [options]="options" [ngStyle]="getLabelStyles()"></formly-form>
    </div>
  </div>
</div>
