<form [formGroup]="form">
        <h2 mat-dialog-title>Customize Input</h2>
      <div mat-dialog-content>
        <div class="form-group">
          <label for="label">Label</label>
          <input id="label" formControlName="label" class="form-control" />
        </div>
        <div class="form-group">
          <label for="custom_css">Custom CSS</label>
          <input id="custom_css" formControlName="custom_css" class="form-control" />
        </div>
        <table>
          <thead>
          <tr>
            <th>Label</th>
            <th>Value</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableRows.controls; let i = index" [formGroupName]="i">
              <td><input type="text" class="form-control" formControlName="label"></td>
            <td><input type="text" class="form-control" formControlName="value" ></td>
            <td><button type="button" class="btn btn-light" (click)="removeRow(i)"><i class="bi bi-trash3" style="color: red;"></i></button></td>
          </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-light" (click)="addRow()"><i class="bi bi-file-plus-fill"  style="color: lightseagreen;"></i></button>
      </div>
      <div mat-dialog-actions>
        <button mat-button class="btn btn-outline-dark" (click)="onNoClick()">Cancel</button>
        <button mat-button class="btn btn-info" [mat-dialog-close]="form.value" cdkFocusInitial >Save</button>
      </div>
    </form>
