.example-container {
  height: 500px;
  background-color: #FFFFFF;
}
.example-sidenav {
  user-select: none;
  margin: 20px;
  border-radius: 20px;
  background-color: #FAFBFF;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(1);
  transform-origin: top;
  padding-left: 15px;
  padding-right: 15px;
  display: none; /* Hide the submenu by default */
}

.submenu.expanded {
  transform: scaleY(1);
  display: block; /* Show the submenu when expanded */
}

