button{
  background-color: #00B8FF ;
}
button:hover{
  background-color:#01326b ;
  color: white;
}
section{
  border-radius:3%;
  background-color: #00B8FF ;
  width: 50rem;
  margin-left: 13rem;

}

a{
  color:#00719D ;
}
.background{
  background-color: #cfecf8;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-left: 9rem;
  padding-right: 9rem;

}
.container{
margin-left: 6rem;
}
