@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~bootstrap-icons/font/bootstrap-icons.css';

.example-container {
  height: 100%;
  width: 100%;
  display: flex;
}
.example-sidenav {
  -webkit-user-select: none;
  user-select: none;
  margin: 20px 20px 20px 0;
  border-radius: 20px;
  background-color: #f5f5f5;
  width: 17%;
  position: relative;
}

.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(1);
  transform-origin: top;
  padding-left: 15px;
  padding-right: 15px;
  display: none; /* Hide the submenu by default */
}

.submenu.expanded {
  transform: scaleY(1);
  display: block; /* Show the submenu when expanded */
}
.cdk-drag-preview {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.cdk-drag-placeholder {
  opacity: 0.5;
}
.content-container {
  /* Original container styles */
  border: 1px solid #ccc;
  padding: 20px;
  transition: background-color 0.3s; /* Add transition for smooth color change */
}

.content-container.drag-over {
  background-color: #f0f0f0; /* Darker background color when dragged over */
}

.categoryItem{
  text-align: center;
  border-radius: 20px;
  background-image: linear-gradient(-89deg, #00B8FF 0%, #00719D 100%);
  color: white;
  margin-top: 0.3rem;
  padding: 5px;
  height: auto;
  height: auto;
}
.categoryItem:hover{
  color: #1d253b;
}
select{
  background-color: #f0f0f0;
}
