/* validation-dialog.component.css */
:host {
  display: block;
  width: 100%;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
