<div class="data-container">
    <h3>General informations</h3>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Number of users</h5>
              <span class="h2 font-weight-bold mb-0"*ngFor="let form of formCountsByUser | keyvalue">
                {{ form.value }}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="data-container">
    <h3>Simple Users Number</h3>
    <ul>
      <li *ngFor="let user of simpleUserCountWithInscription | keyvalue">
        {{ user.key }}: {{ user.value }}
      </li>
    </ul>
  </div>
<div class="charts-row">
  <div class="chart-container">
    <canvas  id="canvas" >{{ chart }}</canvas>
  </div>
  <div class="chart-container">
    <canvas  id="roleCanvas" >{{ roleChart }}</canvas>
  </div>
  <div class="chart-container">
    <canvas  id="formCanvas" >{{ formChart }}</canvas>
  </div>
</div>
