.charts-row {
  display: flex;
  justify-content: space-around; /* Pour espacer les graphiques uniformément */
  align-items: center;
  flex-wrap: wrap; /* Pour que les graphiques passent à la ligne suivante si l'espace est insuffisant */
}

.chart-container {
  flex: 1; /* Pour que chaque graphique prenne un espace égal */
  margin: 10px;
  padding: 10px;
  border: 2px solid #000; /* Ajoute une bordure noire de 2px */
  border-radius: 5px; /* Ajoute des coins arrondis */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajoute une ombre pour un effet visuel */
  background-color: #f9f9f9; /* Ajoute une couleur de fond légère */
}

.chart-container canvas {
  width: 100% !important; /* Pour que les graphiques prennent la largeur disponible */
  height: auto !important;
}
.charts-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.chart-container {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

.data-container {
  flex: 1;
  margin: 10px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  min-width: 200px; /* Assure une largeur minimale pour chaque conteneur */
}

.data-container h3 {
  margin-top: 0;
}

.data-container ul {
  list-style-type: none;
  padding: 0;
}

.data-container li {
  margin: 5px 0;
}
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
