
<div class="data-container">
  <h3>Nombre de formulaires remplis</h3>
  <ul>
    <li *ngFor="let form of formCountsByUser | keyvalue">
      {{ form.key }}: {{ form.value }}
    </li>
  </ul>
</div>
<div class="charts-row">
  <div class="chart-container">
    <canvas  id="canvas" >{{ chart }}</canvas>
  </div>
  <div class="chart-container">
    <canvas  id="roleCanvas" >{{ roleChart }}</canvas>
  </div>
  <div class="chart-container">
    <canvas  id="formCanvas" >{{ formChart }}</canvas>
  </div>

</div>
