<div class="data-container">
    <h3>General informations</h3>
  <br>
  <div class="row">
    <div class="col-xl-4 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Number of users</h5>
              <span class="h2 font-weight-bold mb-0"*ngFor="let user of numberUsers | keyvalue">
                {{ user.value }}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                <i class="fa-solid fa-user"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card card-stats mb-4 mb-xl-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Number of submitted forms</h5>
            <span class="h2 font-weight-bold mb-0" *ngFor="let subForm of formCountsByUser | keyvalue">
                {{ subForm.value }}
              </span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
              <i class="fa-solid fa-check-to-slot"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="col-xl-4 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Number of forms</h5>
              <span class="h2 font-weight-bold mb-0">
                {{ numberForms }}
              </span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-primary text-white rounded-circle shadow">
                <i class="fa-solid fa-list"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<div class="charts-row">
  <div class="chart-container">
    <div class="container mt-4">
      <h3>Users List</h3>
      <table class="table">
        <thead class="head_style">
        <tr>
          <th>Username</th>
          <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.userName }}</td>
          <td>{{ user.email }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="chart-container">
    <canvas  id="roleCanvas" >{{ roleChart }}</canvas>
  </div>

</div>
